services:
  - type: web
    name: fraud-detection-api
    env: python
    region: oregon
    plan: free
    branch: main
    buildCommand: pip install -r requirements.txt
    startCommand: uvicorn src.api.main:app --host 0.0.0.0 --port $PORT
    envVars:
      - key: PYTHON_VERSION
        value: 3.10.0
      - key: API_HOST
        value: 0.0.0.0
      - key: API_PORT
        sync: false
        value: 8000
      - key: LOG_LEVEL
        value: INFO
      - key: THRESHOLD
        value: 0.5
    healthCheckPath: /health